<!-- display book detail -->
<div *ngIf="book">
    <h2>{{ book.title | uppercase }} Details</h2>
    <div>
      <label for="id">Id: </label>
       {{book.id}}
    </div>
    <div>
      <img class="cover" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <div>
        <label for="title">title: </label>
        <input id="title" [(ngModel)] = "book.title" placeholder="title">
     </div>
     <div>
        <label for="author">author: </label>
        <input id="author" [(ngModel)] = "book.author" placeholder="author">
     </div>
     <div>
        <label for="description">description: </label>
        <input id="description" [(ngModel)] = "book.description" placeholder="description">
     </div>
     <div>
        <span>Status: </span>{{ShowStatus(book.status)}}
     </div>
     <hr>
     <app-history [bookId]="book.id"></app-history>
</div>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
<button title="delete book" (click)="delete()">delete book</button>